/*cherry_team*/

.elementor-widget-cherry_team {
	&[data-element_type="cherry_team.default"] {
		.team-item {
			text-align: center;
		}
	}
}


/*cherry-posts*/

.elementor-cherry-posts {
	.post-thumbnail {
		margin-bottom: 25px;
	}
	.post-meta {
		margin-bottom: 12px;
		@include font-size(13/16);
		.post__date {
			margin-right: 16px;
			padding-right: 17px;
			border-right: 1px solid $color__background-hr;
		}
	}
	.entry-excerpt {
		margin-bottom: 20px;
	}

	
}

