<div class="project-media">
	%%FEATUREDIMAGE size="singerella-thumb-project"%%
	<div class="hover-content row-format">
		%%ZOOMLINK%%
		%%EXTERNALLINK%%
		%%PERMALINK%%
	</div>
</div>
<div class="project-content">
	%%TITLE%%
	%%CONTENT number_of_words="30"%%
</div>
