/* #Elements */
blockquote {
	font-style: $blockquote_font_style;
	font-weight: $blockquote_font_weight;
	font-size: @font_size($blockquote_font_size, multiple, ceil, 0.6)px;
	line-height: $blockquote_line_height;
	font-family: $blockquote_font_family;
	letter-spacing: $blockquote_letter_spacing;
	color: $blockquote_color;
}

@media (min-width: 992px) {
	blockquote {
		font-size: $blockquote_font_size{px};
	}
}

blockquote cite {
	color: $regular_accent_color_2;
}

blockquote cite::before {
	background: $regular_text_color;
}

blockquote::before {
	color: $regular_accent_color_1;
}

code {
	color: $invert_accent_color_1;
	background: $regular_accent_color_1;
}


.entry-content > p > a {
	font-family: $metadata_font_family;
	font-style: $metadata_font_style;
	font-weight: $metadata_font_weight;
}

.entry-content ul > li:before,
.entry-content ol > li:before {
	color:  $regular_accent_color_1;
}

/* #Project */
.projects-item-instance .project-content {
	background: $invert_accent_color_1;
}
.projects-item-instance .hover-content {
	background-color: @alpha($regular_accent_color_2, 60);
}
.projects-container .projects-list .hover-content a {
	color: @alpha($invert_link_color,50);
}
.projects-container .projects-list .hover-content a:hover {
	color: $invert_link_color;
}
.cherry-projects-audio-list .wp-playlist {
	background: $regular_accent_color_2;
}
.cherry-projects-audio-list .wp-playlist-item-meta {
	color: $invert_text_color;
}
.cherry-projects-slider__instance .slider-pro .sp-thumbnails-container .sp-selected-thumbnail .sp-thumbnail {
	border-color: $regular_accent_color_1;
}
.cherry-projects-slider__instance .slider-pro .sp-arrows .sp-arrow:after,
.cherry-projects-slider__instance .slider-pro .sp-arrows .sp-arrow:before {
	background-color: $regular_accent_color_1;
}
.cherry-projects-slider__instance .slider-pro .sp-full-screen-button:before {
	color: $regular_accent_color_1;
}
.cherry-spinner-double-bounce .cherry-double-bounce1,
 .cherry-spinner-double-bounce .cherry-double-bounce2 {
 	background-color: $regular_accent_color_1;
}
.cherry-projects-single-post .featured-image a .cover, 
.cherry-projects-single-post .additional-image a .cover {
	color: $invert_accent_color_1;
	background-color: @alpha($regular_accent_color_1,35%);
}
.wp-playlist-tracks .wp-playlist-item {
	background-color: $regular_accent_color_2;
}
.wp-playlist-item .wp-playlist-item-title,
.wp-playlist-item .wp-playlist-item-length {
	color: $invert_text_color;
}
.cherry-projects-single-details-list ul li {
	color: $regular_accent_color_1;
}

/* tm_timeline */
div.tm_timeline__body-tense {
	border-color: @alpha($regular_accent_color_1, 30%);
}
.tm_timeline__event__dot:before {
	box-shadow: 0 0 0 6px @alpha($regular_accent_color_1, 21%);
}
.tm_timeline__event__dot:before {
	background-color: $regular_accent_color_1;
}
.tm_timeline__event__date,
.tm_timeline__event__description {
	font-weight: $body_font_weight;
}
.tm_timeline__event__description {
	font-size: $body_font_size{px};
	line-height: $body_line_height;
}
.tm_timeline__event__title a {
	color: $regular_link_hover_color;
}
.tm_timeline__event__title a:hover {
	color: $regular_link_color;
}
.tm_timeline__event .tm_timeline__event__title {
	font-style: $h3_font_style;
	font-weight: $h3_font_weight;
	font-size: $h3_font_size{px};
	line-height: $h3_line_height;
	font-family: @font_family( $h3_font_family );
	letter-spacing: $h3_letter_spacing{px};
	text-align: $h3_text_align;
	color: $regular_h3_color;
}


/* tm-testi */
.tm-testi__item-body footer {
	color: $regular_text_color;
}
.tm-testi__item-body a {
	color: $regular_link_color;
}
.tm-testi__item-body a:hover {
	color: $regular_link_hover_color;
}
.tm-testi .swiper-pagination-bullet {
	background-color: $regular_accent_color_2;
}
.tm-testi .swiper-pagination-bullet:hover {
	background-color: $regular_accent_color_1;
}
.tm-testi .swiper-pagination-bullet.swiper-pagination-bullet-active {
	background-color: $regular_accent_color_1;
	box-shadow: 0 0 0 6px @alpha($regular_accent_color_1, 21%);
}

.tm-testi--boxed blockquote {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.tm-testi--speech-bubble .tm-testi__item-body {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_2;
}
.tm-testi--speech-bubble .tm-testi__item-body:after{
    border-color: $regular_accent_color_2 transparent transparent transparent;	
}

.tm-testi .tm-testi-slider__next:hover,
.tm-testi .tm-testi-slider__prev:hover{
	color: $regular_accent_color_1;
}

.jet-carousel .jet-posts .slick-next:before,
.jet-carousel .jet-posts .slick-prev:before{
	color: @alpha($regular_text_color, 50%);
}

.jet-carousel .jet-posts .slick-next:hover:before,
.jet-carousel .jet-posts .slick-prev:hover:before{
	color: $regular_accent_color_1;
}




/* cherry-services */
.services-item .service-icon {
	color: $regular_accent_color_1;
}
.services-single-item .services-thumbnail {
	background-color: $regular_accent_color_2;
}
.services-single-item .service-slogan,
.services-single-item .service-descr {
	color: $invert_accent_color_1;
}
.services-single-item .service-descr {
	font-style: $h5_font_style;
	font-weight: $h5_font_weight;
	font-size: $h5_font_size{px};
	line-height: $h5_line_height;
	font-family: @font_family( $h5_font_family );
	letter-spacing: $h5_letter_spacing{px};
}
.services-single-item .cta_wrap {
	background-color:  $regular_accent_color_1;
}

.service-cta_title,
.service-cta_content {
	color: $invert_accent_color_1;
}
.service-cta .btn {
	color: $invert_link_color;
	border-color: $invert_link_color;
	background:none;
}
.service-cta .btn:hover {
	color: $invert_link_hover_color;
	border-color: $invert_link_color;
	background-color: $invert_link_color;
}
.service-cta .cta-form_control {
	color: $regular_text_color;
}


