#tm_builder_outer_content {
	.tm_pb_blog {
		text-align: left;
		.entry-title {
			margin-bottom: 20px;
			@include media-breakpoint-up(sm) {
				margin-bottom: 16px;
			}
		}

		.tm_pb_image_container {
			margin-bottom: 16px;
		}

		.tm_pb_post_meta {
			margin-bottom: 12px;
			span {
				margin-left: 0;
			}
		}

		.published,
		.comments {
			margin-left: 16px;
			margin-right: 16px;
		}

		.published {
			padding-right: 17px;
			border-right: 1px solid $color__border-button;
		}

		.author {
			margin-right: 16px;
		}

		.has-post-thumbnail a:first-child {
			margin-bottom: 16px;
		}

		.tm_pb_post_content + .btn {
			margin-top: 30px;
			padding: 0;
		}

		.tm_quote_content {
			cite::before {
				top: 20px;
			}
		}

		.format-audio {
			padding: 0;
		}
		.tm_link_content,
		.tm_audio_content,
		.tm_quote_content {
			padding: 30px 15px;
			@include media-breakpoint-up(md) {
				padding: 50px 60px;
			}
		}
	}
}
