.tm_pb_builder #tm_builder_outer_content {
	.tm_pb_number_counter {
		.percent {
			position: relative;
			width: 154px;
			height: 154px;
			border-width: 5px;
			border-style: solid;
			margin: 0 auto;
			border-radius: 50%;
			overflow: hidden;
			&-value {
				line-height: 149px;
			}
		}

		h3 {
			padding-top: 4px;
		}
	}
}
