/* #Layout */
.elementor-section.elementor-section-boxed>.elementor-container {
	max-width: $container_width{px};
}

/* #Title H1*/
.elementor-widget-heading h1.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h1_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h1.elementor-heading-title.elementor-size-medium {
	font-size: $h1_font_size{px};
}
.elementor-widget-heading h1.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h1_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h1.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h1_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h1.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h1_font_size, multiple, ceil, 1.6)px;
}
.elementor-widget-heading h1.elementor-heading-title {
	line-height: $h1_line_height;
}

/* #Title H2*/
.elementor-widget-heading h2.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h2_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h2.elementor-heading-title.elementor-size-medium {
	font-size: $h2_font_size{px};
}
.elementor-widget-heading h2.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h2_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h2.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h2_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h2.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h2_font_size, multiple, ceil, 1.6)px;
}
.elementor-widget-heading h2.elementor-heading-title {
	line-height: $h2_line_height;
}

/* #Title H3*/
.elementor-widget-heading h3.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h3_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h3.elementor-heading-title.elementor-size-medium {
	font-size: $h3_font_size{px};
}
.elementor-widget-heading h3.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h3_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h3.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h3_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h3.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h3_font_size, multiple, ceil, 1.6)px;
}
.elementor-widget-heading h3.elementor-heading-title {
	line-height: $h3_line_height;
}

/* #Title H4*/
.elementor-widget-heading h4.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h4_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h4.elementor-heading-title.elementor-size-medium {
	font-size: $h4_font_size{px};
}
.elementor-widget-heading h4.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h4_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h4.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h4_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h4.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h4_font_size, multiple, ceil, 1.6)px;
}

/* #Title H5*/
.elementor-widget-heading h5.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h5_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h5.elementor-heading-title.elementor-size-medium {
	font-size: $h5_font_size{px};
}
.elementor-widget-heading h5.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h5_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h5.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h5_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h5.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h5_font_size, multiple, ceil, 1.6)px;
}
.elementor-widget-heading h5.elementor-heading-title {
	line-height: $h5_line_height;
}

/* #Title H6*/
.elementor-widget-heading h6.elementor-heading-title.elementor-size-small {
	font-size: @font_size($h6_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading h6.elementor-heading-title.elementor-size-medium {
	font-size: $h6_font_size{px};
}
.elementor-widget-heading h6.elementor-heading-title.elementor-size-large {
	font-size: @font_size($h6_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading h6.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($h6_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading h6.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($h6_font_size, multiple, ceil, 1.6)px;
}
.elementor-widget-heading h6.elementor-heading-title {
	line-height: $h6_line_height;
}

.elementor-widget-heading div.elementor-heading-title,
.elementor-widget-heading span.elementor-heading-title,
.elementor-widget-heading p.elementor-heading-title {
	line-height: $body_line_height;
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-small,
.elementor-widget-heading span.elementor-heading-title.elementor-size-small,
.elementor-widget-heading p.elementor-heading-title.elementor-size-small {
	font-size: @font_size($body_font_size, multiple, ceil, 0.8)px;
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-medium,
.elementor-widget-heading span.elementor-heading-title.elementor-size-medium,
.elementor-widget-heading p.elementor-heading-title.elementor-size-medium {
	font-size: $body_font_size{px};
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-large,
.elementor-widget-heading span.elementor-heading-title.elementor-size-large,
.elementor-widget-heading p.elementor-heading-title.elementor-size-large {
	font-size: @font_size($body_font_size, multiple, ceil, 1.2)px;
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-xl,
.elementor-widget-heading span.elementor-heading-title.elementor-size-xl,
.elementor-widget-heading p.elementor-heading-title.elementor-size-xl {
	font-size: @font_size($body_font_size, multiple, ceil, 1.4)px;
}
.elementor-widget-heading div.elementor-heading-title.elementor-size-xxl,
.elementor-widget-heading span.elementor-heading-title.elementor-size-xxl,
.elementor-widget-heading p.elementor-heading-title.elementor-size-xxl {
	font-size: @font_size($body_font_size, multiple, ceil, 1.6)px;
}

/* image-box */
.elementor-widget-image-box .elementor-image-box-description {
	font-size: 14px;
	line-height: 1.7;
}

.elementor-widget-image-box .elementor-image-box-title{
	font-size: 18px;
	font-weight: 400;
}

/* button */
.elementor-widget-container .elementor-button-wrapper .elementor-button {
	color: $invert_link_color;
	background-color: $regular_accent_color_1;
	border-color: $regular_accent_color_1;
}
.elementor-widget-container .elementor-button-wrapper .elementor-button:hover {
	color: $invert_link_color;
	background-color: $regular_accent_color_2;
	border-color: $regular_accent_color_2;
}

.elementor-widget-container .subscribe-block > h5,
.elementor-widget-container .follow-block > h5 {
	font-style: $h2_font_style;
	font-weight: $h2_font_weight;
	font-size: @font_size($h2_font_size, multiple, ceil, 0.7)px;
	line-height: $h2_line_height;
	font-family: @font_family( $h2_font_family );
	letter-spacing: $h2_letter_spacing{px};
}
@media (min-width: 992px) {
	.elementor-widget-container .subscribe-block > h5,
	.elementor-widget-container .follow-block > h5 { 
		font-size: $h2_font_size{px}; 
	}
}

.cherry-services.template-list .services-macros a{
	color: $regular_link_color;
}

.cherry-services.template-list .services-macros a:hover{
	color: $regular_link_hover_color;
}

