.elementor-control-content {
	.cherry-control {
		padding: 10px 0;
	}
	.cherry-control__content {
		flex: 0 1 100%;
	}
	.cherry-ui-kit.cherry-ui-repeater-container {
		padding: 10px;
	}
	.cherry-ui-kit .cherry-ui-repeater-item {
		padding: 10px;
	}
	.cherry-ui-kit .cherry-ui-repeater-actions-box {
		margin: -10px -10px 20px -10px;
	}
	input.cherry-radio-input {
		display: none;
	}
}