/* #Slider */

.tm_pb_builder #tm_builder_outer_content .tm-pb-controllers > a::before,
.tm_pb_builder #tm_builder_outer_content .tm-pb-controllers > a:hover,
.tm_pb_builder #tm_builder_outer_content .tm-pb-controllers > a.tm-pb-active-control {
	background: $regular_accent_color_1;
}

.tm_pb_builder #tm_builder_outer_content .tm-pb-controllers > a::after {
	background: @alpha($regular_accent_color_1, 46);
}

.tm_pb_builder #tm_builder_outer_content .tm-pb-slider-arrows .tm-pb-arrow-prev,
.tm_pb_builder #tm_builder_outer_content .tm-pb-slider-arrows .tm-pb-arrow-next {
	background-color: $regular_accent_color_1;
}

.tm_pb_builder #tm_builder_outer_content .tm-pb-slider-arrows .tm-pb-arrow-prev::before,
.tm_pb_builder #tm_builder_outer_content .tm-pb-slider-arrows .tm-pb-arrow-next::before {
	color: $invert_accent_color_1;
}
.tm_pb_builder #tm_builder_outer_content .tm-pb-slider-arrows .tm-pb-arrow-prev:hover::before,
.tm_pb_builder #tm_builder_outer_content .tm-pb-slider-arrows .tm-pb-arrow-next:hover::before {
	color: $invert_accent_color_1;
}

.tm_pb_builder #tm_builder_outer_content .tm-pb-slider-arrows .tm-pb-arrow-prev:hover,
.tm_pb_builder #tm_builder_outer_content .tm-pb-slider-arrows .tm-pb-arrow-next:hover {
	background-color: $regular_accent_color_2;
}

/* #video_slider */
#tm_builder_outer_content .tm_pb_video_slider .tm_pb_slider:hover .tm_pb_video_overlay_hover {
	background-color: @alpha($regular_accent_color_2, 60%);
}
.tm_pb_builder #tm_builder_outer_content .tm_pb_video_overlay .tm_pb_video_overlay_hover a.tm_pb_video_play::before {
	color: $invert_link_color;
	background: $regular_accent_color_1;
}
.tm_pb_builder #tm_builder_outer_content .tm_pb_video_overlay .tm_pb_video_overlay_hover a:hover.tm_pb_video_play::before {
	color: $invert_link_hover_color;
	background: $invert_link_color;
}
#tm_builder_outer_content .tm_pb_carousel_item .tm_pb_video_overlay_hover:hover,
#tm_builder_outer_content .tm_pb_module.tm_pb_video_slider .tm_pb_carousel_items .tm_pb_carousel_item.tm-pb-active-control .tm_pb_video_overlay_hover {
	background: @alpha($regular_accent_color_2, 60%);
}
#tm_builder_outer_content .tm_pb_carousel .tm_pb_video_overlay .tm_pb_video_overlay_hover a.tm_pb_video_play::before,
#tm_builder_outer_content .tm_pb_carousel .tm_pb_video_overlay .tm_pb_video_overlay_hover a:hover.tm_pb_video_play::before {
	color: $invert_link_color;
}


/* #Blog */

#tm_builder_outer_content .tm_pb_blog .entry-title {
	font-style: $h4_font_style;
	font-weight: $h4_font_weight;
	font-family: @font_family( $h4_font_family );
}

#tm_builder_outer_content .tm_pb_blog .tm_pb_post_meta {
	font-family: $metadata_font_family;
	font-weight: $metadata_font_weight;
	font-style: $metadata_font_style;
}

#tm_builder_outer_content .tm_pb_blog .published {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_blog .entry-title a:hover {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_blog .author a {
	color: $regular_text_color;
}

#tm_builder_outer_content .tm_pb_blog .author a:hover {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_audio_content,
#tm_builder_outer_content .tm_quote_content,
#tm_builder_outer_content .tm_link_content {
	background-color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_quote_content cite::before {
	background: $invert_text_color;
}

#tm_builder_outer_content .tm_link_content .tm_link_main_url:hover {
	color: $regular_link_hover_color!important;
}


/* #Tabs */

.tm_pb_builder #tm_builder_outer_content .tm_pb_tabs .tm_pb_tabs_controls li:hover {
	background: $regular_accent_color_1;
}

/* #Number Counter */

#tm_builder_outer_content .tm_pb_number_counter .percent {
	border-color: $regular_accent_color_1;
}

/* #Pricing Table */

.tm_pb_builder #tm_builder_outer_content div.tm_pb_pricing_table .tm_pb_sum {
	color: $regular_accent_color_1;
}
.tm_pb_builder #tm_builder_outer_content div.tm_pb_pricing_table.tm_pb_featured_table {
	color: $invert_accent_color_1;
	background-color: $regular_accent_color_1;
}
.tm_pb_builder #tm_builder_outer_content div.tm_pb_pricing_table.tm_pb_featured_table .tm_pb_pricing_title,
.tm_pb_builder #tm_builder_outer_content div.tm_pb_pricing_table.tm_pb_featured_table .tm_pb_sum,
.tm_pb_builder #tm_builder_outer_content div.tm_pb_pricing_table.tm_pb_featured_table .tm_pb_frequency,
.tm_pb_builder #tm_builder_outer_content div.tm_pb_pricing_table.tm_pb_featured_table .tm_pb_dollar_sign {
	color: $invert_accent_color_1;
}
.tm_pb_builder #tm_builder_outer_content div.tm_pb_pricing_table.tm_pb_featured_table .tm_pb_button {
	color: $regular_accent_color_1;
	background-color: $invert_accent_color_1;
}
.tm_pb_builder #tm_builder_outer_content div.tm_pb_pricing_table.tm_pb_featured_table .tm_pb_button:hover {
	color: $invert_accent_color_1;
	background-color: $regular_link_hover_color;
}

.tm_pb_builder #tm_builder_outer_content .tm_pb_pricing_content_top::after {
	border-bottom-color: $regular_accent_color_1;
}

/* #Social Media Follow */

.tm_pb_builder #tm_builder_outer_content .tm_pb_social_media_follow li a.icon:hover {
	background: $regular_accent_color_2!important;
}

/* #Person */

#tm_builder_outer_content .tm_pb_team_member .tm_pb_member_social_links li a.tm_pb_font_icon {
 background: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_team_member .tm_pb_member_social_links li a.tm_pb_font_icon:hover {
 background: $regular_link_hover_color;
}

/* #Testimonial */
#tm_builder_outer_content div.tm_pb_testimonial .tm_pb_testimonial_description:before {
	color:  $regular_accent_color_1;
}
#tm_builder_outer_content .tm_pb_testimonial .tm_pb_testimonial_author {
	font-style: $h6_font_style;
	font-weight: $h6_font_weight;
	font-size: 1.25em;
	line-height: $h6_line_height;
	font-family: @font_family( $h6_font_family );
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_testimonial .tm_pb_testimonial_author::before {
	background: $regular_accent_color_1;
}

/* #Countdown Timer */

#tm_builder_outer_content .tm_pb_countdown_timer_container .section span.countdown-sep {
	color: $invert_accent_color_1;
}

#tm_builder_outer_content .tm_pb_countdown_timer_container span.countdown-sep::before,
#tm_builder_outer_content .tm_pb_countdown_timer_container span.countdown-sep::after {
	background: $invert_text_color;
}

#tm_builder_outer_content .tm_pb_countdown_timer_circle_layout .tm_pb_countdown_timer_container span.countdown-sep::before,
#tm_builder_outer_content .tm_pb_countdown_timer_circle_layout .tm_pb_countdown_timer_container span.countdown-sep::after {
	background: $invert_text_color;
}

/* #Typography */

#tm_builder_outer_content .tm_pb_blurb_content ul li {
	color: $regular_accent_color_1;
}

#tm_builder_outer_content .tm_pb_contact_form .tm_pb_contact_form_input {
	color: $regular_text_color;
}

/* #Post Slider */

#tm_builder_outer_content div.tm_pb_post_slider.tm_pb_bg_layout_light {
	background: $regular_accent_color_2;
}

#tm_builder_outer_content div.tm_pb_post_slider .tm_pb_slide_content {
	color: $invert_text_color;
}

#tm_builder_outer_content div.tm_pb_post_slider .tm_pb_slide_content .post-meta {
	color: $invert_text_color!important;
}

#tm_builder_outer_content div.tm_pb_post_slider .tm_pb_slide_content .post-meta a {
	color: $regular_accent_color_1!important;
}

#tm_builder_outer_content div.tm_pb_post_slider .tm_pb_slide_content .post-meta a:hover {
	color: $invert_text_color!important;
}

/* #Blurb */
.widget_nav_menu li.active a {
	color: $regular_link_hover_color;
}

/* #Image */

#tm_builder_outer_content .tm_pb_image a:hover {
	box-shadow: 3px 4px 18px 0 @alpha($regular_text_color, 30);
}
