.site-footer.centered {
	.footer-container {
		text-align: center;
		padding: 16px;
	}

	.footer-logo {
		margin-bottom: 15px;
	}

	.social-list {
		margin-bottom: 42px;
	}

	.footer-menu {
		display: none;
	}
}
