.widget-about {
	.sidebar &{
		text-align: center;
		&__logo-img {
			margin-top: 15px;
		}

		&__content {
			padding: 5.53% 12.63% 10%;
			margin-top: 0;
			h1,h2,h3,h4,h5,h6 {
				margin-bottom: 21px;
			}
		}
	}

	&__logo-img {
		vertical-align: top;
	}

	&__tagline {
		@include font-size(8/16);
		text-transform: uppercase;
		letter-spacing: 1px;
		margin-top: 5px;
	}

	&__content {
		margin-top: 21px;
		@include font-size(16/16);
		line-height: 1.5;
	}

	#tm_builder_outer_content div.tm_pb_widget_area & {
		max-width: 720px;
	}
}
